body, .jumbotron {
background-color: #ffffff;
font-family: "Lora", serif;
margin-bottom: 100px;
}

a {
  color: #bebebe;
}

a:hover {
  color: #ffffff;
  text-decoration: none;
}

a:active {
  color: #7e7e7e;
}

.bg-overlay {
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url("https://github.com/liz-muehlmann/liz-muehlmann.github.io/blob/main/images/Sequoias%200254.jpg?raw=true");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    height: 450px;
    padding-top: 50px;
}

.header-border {
  padding: 20px;
  border-width: 5px !important;
}

.uci-logo {
margin-right: 10px;
}

.fc-text {
  padding: 10px;
}
.content-column-text {
  padding-top: 45px;
  font-size: 18px;
}

.content-column {
  padding-top: 20px;
}

.footer {
    position: fixed !important;
    left: 0;
    bottom: 0 !important;
    width: 100%;
    color: white;
    text-align: center;
    margin-top:5px;
  }
