
### project outline
<hr>

I had to break the tutorial into different parts because it became unwieldy. I list the component parts below. The annotated version of the code can be found in this project's repository in the folder called [r files](https://github.com/liz-muehlmann/nps){:target="_blank" rel="noopener noreferrer"}

[I. cartography in r part one]( {{site.url}}/notes/cartography-part-one ){:target="_blank" rel="noopener noreferrer"}  
* install packages  
* download usa shapefile  
* shift alaska and hawaii
* save shapefile  

[II. cartography in r part two]( {{site.url}}/notes/cartography-part-two ){:target="_blank" rel="noopener noreferrer"}  
* create usa base map  

[III. cartography in r part three]( {{site.url}}/notes/cartography-part-three){:target="_blank" rel="noopener noreferrer"}  
* download national park data
* process national park data
* shift alaska and hawaii national parks
* save shapefile
* add national parks to map

[IV. cartography in r part four ]( {{site.url}}/notes/cartography-part-four ){:target="_blank" rel="noopener noreferrer"}  
* download state park data
* process state park data
* shift alaska and hawaii state parks
* separate state park data
* save state park data

[V. cartography in r part five]( {{site.url}}/notes/cartography-part-five ){:target="_blank" rel="noopener noreferrer"}  
* add in shiny functionality
* add markers to visited parks
* save and embed map

[VI. cartography in r part six]( {{site.url}}/notes/cartography-part-six ){:target="_blank" rel="noopener noreferrer"}  
* create individual state maps
* add in shiny functionality
* add markers to visited parks
* save and embed maps