<!-- Footer -->
<footer class="footr border-top text-center py-3">
  <a href="mailto: lizmuehlmann@gmail.edu">
    <i class="fa-sharp fa-solid fa-paper-plane fa-xl"></i>
  </a>

  <a href="https://bsky.app/profile/hello-iamliz.bsky.social">
    <i class="fa-brands fa-bluesky fa-xl"></i>
  </a>

  <a href="https://www.linkedin.com/in/lizmuehlmann">
      <i class="fa-brands fa-linkedin-in fa-xl"></i>
  </a>

  <a href="https://github.com/liz-muehlmann">
    <i class="fa-brands fa-github fa-xl"></i>
  </a>
</footer>