   <!-- Footer -->
  <footer class = "footer">
      <div class = ".container-fluid bg-dark fc-text">
      <a href="mailto: liz.muehlmann@uci.edu">
        <img src="https://raw.githubusercontent.com/liz-muehlmann/liz-muehlmann.github.io/main/resources/Email-White.png" width="40px" height="40px">
      </a>

      <a href="https://twitter.com/hello_iamliz">
        <img src="https://raw.githubusercontent.com/liz-muehlmann/liz-muehlmann.github.io/main/resources/Twitter-white.png" width="40px" height="40px">
      </a>

      <a href="https://github.com/liz-muehlmann">
        <img src="https://raw.githubusercontent.com/liz-muehlmann/liz-muehlmann.github.io/main/resources/Github-White.png" width="40px" height="40px">
      </a>
    </div>
  </footer>
