<!-- Footer -->

<div class=".container-fluid bg-dark text-center footer-styles">
  <a href="mailto: liz.muehlmann@uci.edu">
    <img src="/assets/resources/Email-White.png" width="40px" height="40px" />
  </a>

  <a href="https://bsky.app/profile/hello-iamliz.bsky.social">
    <img src="/assets/resources/Bluesky-white.png" width="40px" height="40px" />
  </a>

  <a href="https://www.linkedin.com/in/lizmuehlmann">
    <img src="/assets/resources/Linkedin-White.png" width="40px" height="40px" />
  </a>

  <a href="https://github.com/liz-muehlmann">
    <img src="/assets/resources/Github-White.png" width="40px" height="40px" />
  </a>
</div>
