<!-- masthead -->
<div class="jumbotron jumbotron-fluid text-white">

  <div class="container aligh-items-center justify-content-center">
    <div class = "border border-white minborder w-50">
      <h2 class="display-4">{{page.headname}}</h2>
      <p class="lead">{{ page.header}}</p>
    </div>
  </div>


</div>















<!-- <header class = "header">
  <div class = "container h-100">
    <div class = "row h-100 align-items-center justify-content-center">
      <div class = "col-8 text-center h-25 border border-white">
          <p>text</p>
    </div>
  </div>
</header> -->


<!-- image

<div class=".container bg-overlay header">



</div>

 -->




<!-- Original -->

<!-- <div class="d-flex justify-content-center align-items-center h-100">          <!-- white box
  <span class = "header-border border border-white">                          <!-- makes the things on top of one another
      <h1 class="mb-3 text-center">{{ page.headname }}</h1>
        <h4 class="mb-3 text-center">
           {{ page.header }}
        </h4>
    </div> -->
