:root {
    --background-color: #212121;
    --text-color: #eee;
    --bg-card-body: #303030;
    --image-dimmer: brightness(.8) contrast(1.2);
    --storage: #fff;
    --constant: #90ee90;
    --string: #add8e6;
    --keyword: #FFC0CB;
    --variable: #fed8b1;
    --bg-code: #454545;
  }

:root img {
    opacity: .75;
    transition: opacity .5s ease-in-out;
  }
:root img:hover {
    opacity: 1;
  }

  :root .highlight {
    background: #454545;
    border: 1px #C1C1C1;
    border-radius: 3px;
  }
  
 :root code {
      background-color: #454545;
      border-radius: 3px;
      padding: 2px;
      color:#61afef;
  }
  
  :root   pre {
    background-color: #454545;
    color: var(--text-color);
  }