:root {
    --background-color: #212121;
    --text-color: #f4f6f5;
    --bg-card-body: #303030;
    --image-dimmer: brightness(.8) contrast(1.2);
    --storage: #fff;
    --constant: #90ee90;
    --string: #add8e6;
    --keyword: #FFC0CB;
    --variable: #fed8b1;
    --link-hover: #C5E8C4;
    --link-color: #809A6F;
    --code-color: #A7D2CB;
    --code-bg: #303030;
    --code-nx: #F2D388;
    --code-nt: #e9cec7;
    --code-s1: #a390a1;
    --code-kc: #4e7e8e;
    --code-o: #D25959;
    --code-c: #d3d3d3;
    --code-p: #e7cad9;
  }
:root img {
    opacity: .75;
    transition: opacity .5s ease-in-out;
  }
:root img:hover {
    opacity: 1;
  }