---
layout: default
headname: Tag Forest
---


<div class="container">
  <div class="row">
    <div class="content-column col-sm-5">
      <img class = "img-fluid" src = "/assets/images/octocat-liz-coffee.png" alt="Photo of Liz Muehlmann as Octocat">
    </div>

    <div class="content-column-text col-sm-7">
      <h2>Oh no!</h2>
      <br> <p>I must have run out of coffee before I finished updating this page. I'm sure it'll be up and running in no time. Check back soon!</p>
    </div>
  </div>
</div>






<!--
<div class = "container justify-content-center">
  <div class="row">
    <div class= "col-2">
    </div>

    <div class="col-8">
      {% for tag in site.tags %}
        {{ tag[0] }}

          {% for post in tag[1] %}
          <a href="{{ post.url }}">{{ post.title }}</a>
          {% endfor %}

      {% endfor %}
    </div>
  </div>

  <div class = "row">
    <div class= "col-2">
    </div>

<!-- Buttons
    <div class = "col-8">
        <hr class = "h-line">
      <a href = "/notes/notes.html"><button type="button" class="btn btn-outline-secondary">Back to all posts</button></a>
      <a href = "/notes/tag-forest.html" class = "float-right"><button type="button" class="btn btn-outline-secondary">See all tags</button></a>
    </div>
  </div>

  <div class= "col-2">
  </div>

  <div class= "col-2">
  </div>

</div> -->

















<!-- {% for tag in site.tags %}
  <h3>{{ tag[0] }}</h3>
  <ul>
    {% for post in tag[1] %}
      <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
{% endfor %} -->
