---
layout: default
headname: Notes
---

<div class = "container justify-content-center">
  <div class="row">
    <div class= "col">
    </div>

    <div class="col-lg-auto">
      <h1>{{ page.title }}</h1>
        <hr class = "h-line">
          {{ content }}

      <div class = "float-right text-right">
        <p>{{ page.author }} | {{ page.date | date_to_string }}
          <div class="post-categories">
            {% if post %}
              {% assign tags = post.tags %}
            {% else %}
              {% assign tags = page.tags %}
            {% endif %}
            tags: {% for tag in tags %}
            <a href="{{site.url}}/pages/tag-forest/#{{ tag | slugify }}">{{tag}}</a>
            {% unless forloop.last %},&nbsp;{% endunless %}
            {% endfor %}
          </div>
        </div>
      </div>

    <div class= "col">
    </div>

  </div>

  <div class = "row">

    <div class= "col-2">
    </div>

<!-- Buttons -->
  <div class = "col-8 clearfix">
      <hr class = "h-line">
      <a href = "/pages/notes.html"><button type="button" class="btn btn-outline-success float-left">Back to all posts</button></a>
      <a href = "/pages/tag-forest.html"><button type="button" class="btn btn-outline-success float-right">See all tags</button></a>

    </div>

  </div>

  <div class= "col-2">
  </div>

</div>
